/*
 * This file is NOT needed in order to use skrollr.
 * The demo uses it and it may help you as well.
 */


html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

#background {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   	background-image: url('../img/Mapamundi.png');
   	background-position: 0 0;
   	background-repeat: no-repeat;
   	background-attachment: fixed;
   	text-align: center;
   	}

#central-image {
	width:250px;
	height:180px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-image: url("../img/mex.png"); 	
	position: fixed;
	left: 40%;
	top: 30%;	
}

#text1{
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000;
    left: 10%;
	top: 10%;	
}
#text2{
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000;
    left: 80%;
	top: 10%;	
}
#text3{
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000;
    left: 20%;
	top: 80%;	
}
#text4{
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000;
    left: 80%;
	top: 80%;	
}
.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}
