/*
 * This file is NOT needed in order to use skrollr.
 * The demo uses it and it may help you as well.
 */


html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

#thing {
	width:64px;
	height:32px;
	background-image: url('../img/avion.png');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background {
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   	background-image: url('../img/Mapamundi.png');
   	background-position: 0 0;
   	background-repeat: no-repeat;
   	background-attachment: fixed;
   	text-align: center;
   	}

#central-image {
	width:250px;
	height:180px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 	
	position: fixed;
	left: 40%;
	top: 30%;	
}
#himno{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #FA7A15;
    left: 75%;
	top: 10%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#capital{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #31D009;
    left: 82%;
	top: 45%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#poblacion{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #31D009;
    left: 75%;
	top: 80%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#idioma{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #FF2316;
    left: 45%;
	top: 85%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#moneda{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #FF2316;
    left: 15%;
	top: 80%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#superficie{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #065EB2;
    left: 5%;
	top: 45%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}
#continente{
	border-radius: 5px;
	width:200px;
	height:80px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #065EB2;
    left: 10%;
	top: 10%;	
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}
