*, html{
	margin: 0px;
	padding: 0px;
}
#home{
	background: url("img/bg_1.jpg") 50% 0 no-repeat fixed;
}
#section2{
	background: url("img/bg_2.jpg") 50% 0 no-repeat fixed;
}
#section3{
	background: url("img/bg_3.jpg") 50% 0 no-repeat fixed;
}
#home, #section2, #section3{
	margin: 0px auto;
	max-width: 1920px;
	min-height: 700px;
	position: relative;
	width: 100%;

}